@charset "UTF-8";

@import 'style.csss';

div#fotoinicial {
    width: 100%;
    background-image: url(../imagens/logoFrasePret.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    margin-left: -15px;
}

main > nav {
    position: sticky;
    z-index: 1000;
    top: 0px;

    font-family: var(--font-titulo);
    font-size: 18px;
    
    width: 100%;

    display: grid;
    place-items: center;

    height: 90px;
    background-color: black;
}

nav ul {
    list-style: none;
    margin-top: -2px;
}

nav a {
    cursor: pointer;
}

.menu {
    display: flex;
    width: 100%;
    max-width: 650px;
    justify-content: center;
    align-items: stretch;
    height: 30%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.644);
}

.menu li {
    display: inline-block;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.menu li:hover .submenu {
    height: 75px;
}

.menu > li:hover > a {
    color: var(--cor4);
}

.menu > li:hover > a::before {
    visibility: visible;
    scale: 1.1;
}

.submenu {
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: #004cb600;
    height: 0;
    line-height: 15px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
}

.menu li .submenu a {
    color: #fff;
    opacity: 0;
    font-size: 16px;
    transition: opacity 0.4s;
}

.menu > li:hover .submenu a {
    opacity: 1;
}

.menu > li .submenu a:hover {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), #1bb2d879);
}

.menu > li a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    text-decoration: none;
    position: relative;
    height: 26px;
}


.menu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}


#contribua:hover {
    color: yellow;
}