@charset "UTF-8";

@import 'style.css';

main {
    background-color: var(--cor3);
    margin: auto;
}

article {
    padding: 25px;
    margin: auto;
    max-width: 800px;
    background-color: white;
    border-bottom: 1px solid black;
}

article.principal {
    padding-top: 50px;
}

main h1 {
    padding: 10px 0px 20px 0px;
    font-size: 2.5em;
}

main h2 {
    font-size: 1.8em;
    padding: 30px 0px 20px 0px;
}

main p {
    text-align: justify;
    text-indent: 25px;
    line-height: 2.5em;
    padding: 10px 0px 10px 0px;
}

.seta {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    text-align: center;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 40px;
    height: 40px;
    background-color: #1bb2d838;
    cursor: pointer;
    border-radius: 30%;
    
    box-shadow: 1.3px 1.3px 2px #0000009c;
}

.seta:hover {
    color: white;
    background-color: var(--cor4);
    
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.685);
}